body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  background-color: #f0efe9;
  position: absolute;
}

@media (min-width: 576px){
  .container, .container-sm {
      max-width: none;
  }
}

.list-group {
  width: 350px;
  padding: 40px 50px;
  margin: 150px auto 0;
  background-color: #fff;
  box-shadow: 10px 10px 10px #c1c0b9;
}